<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aleksander.fasteffect">



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tools_and_utensils"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_tools_and_utensils"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:noHistory = "true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:noHistory = "true"
            >

        </activity>

        <activity
            android:name=".RegisterActivity"
            android:noHistory = "true"

           />


        <activity
            android:name=".AddProductActivity"
            android:noHistory = "true"

            />

        <activity
            android:name=".AddNewProductActivity"
            android:noHistory = "true"

            />
        <provider
            android:authorities="com.example.aleksander.fasteffect.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
           />

        </provider>
    </application>

</manifest>